
.fixed-nav {
  z-index: 1024;
  margin: 0px;
}
.header1 {
  background-image: radial-gradient( circle farthest-corner at 14.7% 26.3%,  rgba(121,206,212,1) 0.2%, rgba(101,167,191,1) 89.5% );  font-weight: 500;
  border-bottom: 2px solid rgb(44, 43, 43);
}

::ng-deep .navbar {
  /* background-color: #F5BCBA; */
  background-image: radial-gradient( circle farthest-corner at 14.7% 26.3%,  rgba(121,206,212,1) 0.2%, rgba(101,167,191,1) 89.5% );  padding-bottom: 12px;
  padding-top: 12px;
  font-weight: 600 !important;
  /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12); */
  box-shadow: none !important;
}
::ng-deep .navbar .nav-item .nav-link {
  /* color: #0c0b0b; */
  font-weight: bolder;
  font-size: larger;
  color: #192A56;
}
::ng-deep .navbar .nav-item .nav-link:hover {
  color: #fff;
}
::ng-deep.navbar .navbar-toggler-icon {
  color: #192A56 !important;
 /*  background: transparent; */
}

::ng-deep .top-nav-collapse {
  background-color: #F5BCBA;
  padding-bottom: 12px;
  padding-top: 12px;
  color: #192A56;
}

@media only screen and (max-width: 768px) {
  ::ng-deep .navbar {
      background-color: #F5BCBA;
      color: #192A56;
  }
}
@media (max-width: 768px) {
  ::ng-deep .navbar:not(.top-nav-collapse) {
    /* background-color: #F5BCBA; */
    color: #192A56;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  ::ng-deep .navbar:not(.top-nav-collapse) {
    /* background-color: #F5BCBA; */
    color: #192A56;
  }
}

.btn-apply {
  border-radius: 50px;
  color: #192A56;
  border: 3px solid #192A56;
  background: transparent;
  font-weight: bolder;
}
.btn-apply:hover {
  border-radius: 50px;
  color: #fff;
  border: 3px solid #192A56;
  background: #192A56;
  font-weight: bolder;
}
.btn-call {
  border-radius: 50px;
  color: #f0eeee;
  border: 3px solid #192A56;
  background: #192A56;
  font-weight: bolder;
}
.btn-call:hover {
  border-radius: 50px;
  color: #fff;
  border: 3px solid #192A56;
  background: #192A56;
  font-weight: bolder;
}
.header-append {
  background-color: #192A56;
  font-size: 18px;
  text-align: center;
}

