<div class="fixed-top fixed-nav">
  <!-- <div class="container-fluid header1 py-3 d-none d-md-block">
    <div class="row">
      <div class="col-sm-2">

      </div>
      <div class="col-sm-4">
        <a class="top-link">
          2050 Broadway St. Crest Hill, IL 60403 (1st floor-office #1 ) &nbsp;  |
        </a>
      </div>
      <div class="col-sm-4">
        Mo-Fr: 7:00AM-5:00PM | Sa: 8:00AM-1:00 PM |
        <a class="top-link">
          info@uzbfreight.com
        </a>
      </div>
      <div class="col-sm-2 navbar-nav flex-icons">
          <li class="nav-item">
            <a href="https://www.facebook.com/help/2053403608222571" target="_blank" class="nav-link"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="nav-item">
              <a href="https://help.twitter.com/en/using-twitter/add-follow-button-to-website" target="_blank" class="nav-link"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item">
              <a href="https://help.instagram.com/372819389498306" target="_blank" class="nav-link"><i class="fab fa-instagram"></i></a>
          </li>
      </div>
    </div>
  </div> -->
  <mdb-navbar SideClass="navbar navbar-expand-lg intro-fixed-nav" [containerInside]="false">
    <!-- <mdb-navbar-brand> -->
      <a class="navbar-brand" routerLink="">
        <img src="assets/logo2.png" height="80" alt="">
      </a>
   <!--  </mdb-navbar-brand> -->
    <links>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
          <a class="nav-link" href="home#home" >HOME
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
          <a class="nav-link" href="home#detail" >HIRING DETAILS</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect routerLinkActive="active">
          <a class="nav-link" href="home#contact">CONTACT US</a>
        </li>
      </ul>
      <!-- Social Icon  -->
      <ul class="navbar-nav nav-flex-icons">
        <li>
          <button mdbBtn type="button" color="" class="btn-call mt-2" mdbWavesEffect> <i class="fa fa-phone"></i> (+91) 9797365466</button>
        </li>
        <li>
          <button mdbBtn type="button" color="" class="btn-apply mt-2" mdbWavesEffect>Apply Now <i class="fa fa-chevron-circle-right ml-2"></i></button>
        </li>

      </ul>
    </links>
  <div>
  </div>
  </mdb-navbar>

  <div class="container-fluid header-append py-3">
    <div class="row">
      <div class="col-sm-12 text-white">
        HIRING CDL-A OTR SOLO/TEAM HAZMAT & TANKER ENDORSED REEFER & POWER ONLY (AMAZON) DRIVERS, LEASE & OWNERS
      </div>
    </div>
  </div>
</div>


