.main-section {
  background-color: #fff;
  margin-bottom: 500px;
}
.my-list li{
  font-size: large;
  list-style-type: "\2714";  /*  \1F44D*/
 /*  background: url("http://localhost:4200/assets/arrow.png") no-repeat left 5px; */
  padding-left: 1rem;
}
.btn-apply {
  border-radius: 50px;
  color: #0c0b0b;
  border: 3px solid #0c0b0b;
  background: transparent;
  font-weight: bolder;
}
.btn-apply:hover {
  border-radius: 50px;
  color: #fff;
  border: 3px solid #0c0b0b;
  background: #0c0b0b;
  font-weight: bolder;
}
.col-sm-4 h3 {
 color: #192A56;
}

