<main class=" py-5 main-section" id="detail">

  <div class="container" >
    <div class="row" >
          <div class="col-sm-4">
            <h3 class="my-2">COMPANY DRIVERS</h3>
            <ul class="my-list">
              <li> Pay:</li>
              <li> Solo - $0.52 - $0.55 per mile.</li>
              <li> Team - $0.65 - $0.68 per mile.</li>

              <li>  We pay all miles, empty & loaded.</li>
              <li>  3500 - 5500 miles per week.</li>
              <li>  Paid extra stops - $50 & layovers - $100.</li>
              <li>  Experienced, US-based, 24/7 dispatch.</li>
              <li>  Passenger & pet policy.</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h3 class="my-2">LEASE DRIVERS</h3>
            <ul class="my-list">

              <li>  Flexible hometime.</li>
              <li>  Paid vacation.</li>
              <li>  Experienced, US-based, 24/7 dispatch.</li>
              <li>  We pay all miles, empty & loaded.</li>
              <li>  3500 - 5500 miles per week.</li>
              <li>  Paid extra stops - $50 & layovers -
            </ul>
          </div>
          <div class="col-sm-4">
            <h3 class="my-2">OWNER OPERATORS</h3>
            <ul class="my-list">

              <li>  Paid extra stops - $50 & layovers - $100.</li>
              <li>  Mostly Full Truckloads.</li>
              <li>  Weekly direct deposit.</li>
              <li>  1099 Tax Form.</li>
              <li>  Fuel cards & cash advance.</li>
              <li>  Flexible hometime.</li>
              <li>  Paid vacation.</li>
              <li>  Experienced, US-based, 24/7 dispatch.</li>
              <li>  Passenger & pet policy.</li>
            </ul>
          </div>
          <div class="col-sm-12 text-center">
              <p class="lead font-weight-bold my-3">
                 GET IN TOUCH WITH US BY FILLING OUT OUR 40 SECONDS APPLICATION FORM OR GIVE US A CALL AT <br>
                 <i class="fa fa-phone ml-2" style="font-size: 20px;"></i> <a href="#phone"> +91 9797857544</a>
              </p>
                <button mdbBtn type="button" color="" class="btn-apply mt-2" mdbWavesEffect>Apply Now <i class="fa fa-chevron-circle-right ml-2" style="font-size: 20px;"></i></button>


          </div>
    </div>
  </div>

</main>
