<header class="h-100" id="home">
  <div class="">
    <!-- Main -->
    <div id="intro" class="view intro-2" style="font-family: roboto;">
      <video autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true" id="myVideo">
        <source src="assets/video3.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>

      <div class="full-bg-img mask rgba-black-light"><!-- <div class="mask rgba-purple-light"> -->

        <div class="mask  flex-center">
          <div class="container text-center white-text wow fadeInUp">
            <!-- <mdb-card class="mx-auto py-5 px-5 login-card">
              <mdb-card-header class="info-color white-text text-center py-1">
                <h5>
                  <strong>Login</strong>
                </h5>
              </mdb-card-header>
              <mdb-card-body>

              </mdb-card-body>
            </mdb-card> -->
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- /.Main -->
</header>
  <!--Main Navigation-->

  <app-details></app-details>
  <app-contact></app-contact>
