  <!--Main Layout-->
  <div style="height: 10px;background-color: #192A56;" id="contact"></div>
  <main class=" py-5 main-section" text-white id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
            <h2 style="color: #192A56;">  GET IN TOUCH WITH US. APPLY NOW</h2>
            <P class="lead">Just fill our short application dorm & get connected.</P>
            <hr>
            <div class="frm-container   row">

                  <div class="col-sm-6">

                    <input class="form-control my-input" type="text" placeholder="Medium input">
                    <input class="form-control my-input" type="text" placeholder="Medium input">
                    <input class="form-control my-input" type="text" placeholder="Medium input">
                    <input class="form-control my-input" type="text" placeholder="Medium input">

                  </div>
                  <div class="col-sm-6">
                    <select class="form-control my-input">
                      <option selected>Open this select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <select class="form-control my-input">
                      <option selected>Open this select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <select class="form-control my-input">
                      <option selected>Open this select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <button mdbBtn type="button" class="btn-submit" outline="true" mdbWavesEffect>SUBMIT</button>

                  </div>

            </div>
        </div>
      </div>
    </div>
  </main>
  <!--Main Layout-->
