<main class=" py-5 main-section">
 <div class="container">
   <div class="row">
    <div class="col-sm-4">
      <h3>Footer Section 1</h3>
      <a class="mt-2 box-link">
        <img src="assets/plan.png" alt="" class="mr-1 box-img">
        <div style="border-right: 1px solid rgb(165, 163, 163);">
          Enterprise-wide integration for maximising compatibility and interoperability.
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <h3>Our Services</h3>
      <a class="mt-2  box-link">
        <img src="assets/whyus.png" alt="" class="mr-2 box-img">
        <div style="border-right: 1px solid rgb(165, 163, 163);">
          Management of potential system engineering risks within project management processes.
        </div>
      </a>
    </div>
    <div class="col-sm-4">
      <h3>Why Choose Us?</h3>
      <a class="mt-2  box-link">
        <img src="assets/support2.jpg" alt="" class="mr-3 box-img">
        <div style="border-right: 1px solid rgb(165, 163, 163);">
          Our solutions, advice and expertise have enabled many enterprises, both private and public, to operate in an environment that allows their people and their business to flourish.
        </div>
      </a>
    </div>
   </div>
 </div>
</main>
